/.idea

/api/runtime/logs
/api/runtime/debug
/console/runtime/logs
/api/web/assets
!api/
# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info

# My configurations:
db.ini
deploy_key_rsa